* {
    padding: 0;
    margin: 0;
    font-family: "futura","arial","sans-seeif";
}

.nav-section{
    height:50px;
    background-color: #9c27b0;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
}


.nav-link{
    color: white;
    text-decoration: none;
    padding: 10px 0px;
    transition: all .2s;
}

.nav-link:hover{
    border-bottom: 3px white solid;
}

.nav-link-section {
    width: 300px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-header{
    color:white;
    font-size:2em;
    transition: all 10s;
}

.nav-header:hover {
    transform: rotate(36000deg);
}

.nav-icon-section {
    width: 300px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.5em;
}

.nav-icon{
color:white;
text-decoration: none;
}

.nav-icon:hover{
    color: black;
}

/* image section */
.image-section {
    padding-top: 60px;
    height: 800px;
    width: 100%;
    background-image: url("https://photos5.appleinsider.com/gallery/25665-35340-iphone8-productredredred-xl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.image-text {
    padding-top: 50px;
    font-size:  2em;
    color: green;
    font-weight: bold;
}


.card-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card-item {
    margin: 20px 0px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color .7s;
}

.card-item i {
    font-size: 10em;
}

.card-link{
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

.card-item:hover {
    color: red;
}

@media (max-width: 800px) {
    .nav-section {
        flex-direction: column;
        height: auto; 
    }
    .nav-header{
        order: -1;
    }
    .nav-link-section {
        margin: 15px 0;
    }
    .card-item {
        width: 30%;
    }
}

@media (max-width: 900px) {
    .image-text {
        font-size: 35px;
    }
}

@media (max-width: 500px) {
    .image-text {
        font-size: 20px;
    }

    .card-item {
        width: 50%;
    }
}